@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

header {
    background: #bbbbbb;
    padding: 20px 0;
}

body{
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
}

nav{
    position: absolute;
    top: 112px;
    right: 2em;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

main{
    margin: 1em;
}

.about-me {
    background: green;
    padding: 20px 0;
}

.skills-hobbies {
    background: yellow;
    padding: 20px 0;
}

.formacion {
    background: lightblue;
    padding: 20px 0;
}

.experiencia {
    background: rgb(51, 168, 51);
    padding: 20px 0;
}

.contacto {
    background: rgb(9, 210, 236);
    padding: 20px 0;
    font-size: 50px;
    /* margin: 50px; */    
}

.footer {
    background: rgb(9, 210, 236);
    padding: 20px 0;
    font-size: 2rem;
    text-align: center;
    margin: 1em;
    /* margin: 50px; */
    
}