.presentacion__contenedor {
    width: 1136px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.presentacion {
    padding: 64px;
}



.presentacion__titulo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.presentacion__descripcion {
    position: static;
    width: 751px;
    height: 52px;
    left: 0px;
    top: 146px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

.presentacion__redes {
    display: flex;
    margin: 2rem 0;
}

.presentacion__items{
    display: inline;
    
    margin-right: 2rem;
}

.presentacion__items-link {
    text-decoration: none;
}

.presentacion__derecha {
    margin-left: 2rem;
}

.presentacion__imagen {
    background: url('../../images/FotoPortfolio.jpg');
    /* width: 386px;
    height: 368px; */
    width: 320px;
    height: 320px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}