.skills {
    margin-top: 3rem;
    /* width: 70%; */
    
}

.skills__contenedor {
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
}

.skills__title{
    text-align: center;
}

.skills__caja {
    display: flex;
    justify-content: center;
}

.skills__list {
    display: flex;
    list-style: none;
    justify-content: center;    
}

.skills__item {
    background: #FFFFFF;
    width: 176px;
    height: 174px;
    /* padding: 16px; */
    margin: 8px;
    
}

.skills__image {
    color: #2A7AE4;
}