.skills {
    margin-top: 3rem;
}

.skills__contenedor {
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
}

.skills__title{
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.skills__item {
    background: #FFFFFF;
    width: 176px;
    height: 174px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.skills__image {
    width: 64px;
    height: 64px;
}

.skills__text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {

    .skills__contenedor {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        /* flex-direction: column; */
        justify-content: space-evenly;
        /* padding: auto; */
        text-align: justify;
    }

    .skills__list {
        box-sizing: border-box;
        flex-wrap: wrap;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
}