.header {
    background: #F5F5F5;
}

.header__contenedor {
    width: 1136px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__titulo, .header__nav-link {
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

.header__titulo {
    margin-top: 3rem;
    font-weight: 700;
}

.header__nav {
    /* display: inline; */
    margin-top: 3rem;
}

.header__nav-link {
    margin-left: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.header__nav-link:last-child {
    font-weight: 700;
}

