.formacion {
    margin-top: 3rem;
}

.formacion__caja {
    /* display: flex; */
    
}

.formacion__title {
    text-align: center;
    margin-bottom: 3rem;
}

.formacion__contenedor {
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
}

.formacion__lista-contenedor {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}

.formacion__item {
    /* margin-top: 3rem; */
    background: #FFFFFF;
    width: 368px;
    height: 286px;
    padding: 16px;
    margin: 8px;
}
