.formacion {
    margin-top: 3rem;
    background: #EAF2FD;
}

/* .formacion__caja {
   display: flex;
} */

.formacion__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.formacion__contenedor {
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 3rem;
}

.formacion__lista-contenedor {
    display: flex;
    justify-content: space-evenly;
}

.formacion__lista {
    list-style: none;
}

.formacion__lista-imagen {
    background: #FFFFFF;
    background-position: center;
    background-size: cover;
    width: 368px;
    height: 286px;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {

    .formacion__contenedor {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        padding: 2rem 2rem;
        width: 100%;
    }

    .formacion__lista-contenedor {
        flex-direction: column;
        align-items: center;
       
    }

    .formacion__lista-imagen {
        width: 100%;
        height: auto;
    }

}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 481px) and (max-width: 767px){
    .formacion__contenedor {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        padding: 2rem 2rem;
        width: 100%;
    }

    .formacion__lista-contenedor {
        flex-direction: column;
        align-items: center;
       
    }

    .formacion__lista-imagen {
        width: 100%;
        height: auto;
    }
}
