.formacion {
    margin-top: 3rem;
    background: #EAF2FD;
}

/* .formacion__caja {
   display: flex;
} */

.formacion__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.formacion__contenedor {
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 3rem;
}

.formacion__lista-contenedor {
    display: flex;
    justify-content: space-evenly;
}

.formacion__lista {
    list-style: none;
}

.formacion__lista-imagen {
    background: #FFFFFF;
    background-position: center;
    background-size: cover;
    width: 368px;
    height: 286px;
    margin-bottom: 1.5rem;
}
