.hobbies {
    margin-top: 3rem;
    /* width: 70%; */
    
}

.hobbies__contenedor {
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
}

.hobbies__title{
    text-align: center;
}

/* .hobbies__caja {
    display: flex;
    justify-content: center;
} */

.hobbies__list {
    display: flex;
    list-style: none;
}

.hobbies__item {
    background: #FFFFFF;
    width: 176px;
    height: 174px;
    /* padding: 16px; */
    margin: 8px;
}

.hobbies__image {
    color: #2A7AE4;
}